# 1.Download dataset

# 2.Start

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset/version2/2/tmdb_5000_movies.csv')
df.head(3)

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,6.9,4500
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,6.3,4466

In [4]:
df.isnull().sum()

id                0
keywords          0
original_title    0
overview          0
popularity        0
release_date      1
vote_average      0
vote_count        0
dtype: int64

In [5]:
df.iloc[2].overview

'A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE.'

In [6]:
df.shape

(4803, 8)

In [9]:
df[df.overview.isnull()]

Empty DataFrame
Columns: [id, keywords, original_title, overview, popularity, release_date, vote_average, vote_count]
Index: []

Filling 3 missing overviews taken from google

In [8]:
df.iloc[4140].overview = ''' This documentary celebrates the life and legacy of legendary American singer Frank Sinatra, marking the 100th anniversary of his birth. Through interviews, archival footage, and performances, the film delves into Sinatra’s impact on music, culture, and the entertainment industry. It explores his personal and professional life, from his rise to fame to his role as a cultural icon, and also sheds light on his enduring influence on generations of artists.'''

/tmp/ipykernel_2746/1242836616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[4140].overview = ''' This documentary celebrates the life and legacy of legendary American singer Frank Sinatra, marking the 100th anniversary of his birth. Through interviews, archival footage, and performances, the film delves into Sinatra’s impact on music, culture, and the entertainment industry. It explores his personal and professional life, from his rise to fame to his role as a cultural icon, and also sheds light on his enduring influence on generations of artists.'''

In [23]:
df.loc[df.id == 459488, 'overview'] = "This documentary celebrates the life and legacy of legendary American singer Frank Sinatra, marking the 100th anniversary of his birth. Through interviews, archival footage, and performances, the film delves into Sinatra’s impact on music, culture, and the entertainment industry. It explores his personal and professional life, from his rise to fame to his role as a cultural icon, and also sheds light on his enduring influence on generations of artists."
df.loc[df.id == 292539, 'overview'] = "a documentary that examines the exploitation of farm workers in the United States, particularly focusing on the conditions faced by tomato pickers in Florida. The film sheds light on the connections between corporate greed, labor rights violations, and the food supply chain, highlighting the efforts of the Coalition of Immokalee Workers (CIW) to fight for fair wages and better working conditions."
df.loc[df.id == 370980, 'overview'] = " This documentary celebrates the life and legacy of legendary American singer Frank Sinatra, marking the 100th anniversary of his birth. Through interviews, archival footage, and performances, the film delves into Sinatra’s impact on music, culture, and the entertainment industry. It explores his personal and professional life, from his rise to fame to his role as a cultural icon, and also sheds light on his enduring influence on generations of artists."

In [10]:
df.columns

Index(['id', 'keywords', 'original_title', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [28]:
df.to_csv('dataset/version2/2/tmdb_5000_movies.csv',index = False)

In [11]:
df = df[['id','keywords','original_title', 'overview', 'popularity', 'release_date', 'vote_average', 'vote_count']]

In [12]:
df.head()

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,6.9,4500
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,6.3,4466
3,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,7.6,9106
4,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,6.1,2124

In [13]:
(df.iloc[0].keywords)

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [14]:
crew = pd.read_csv('dataset/version2/2/tmdb_5000_credits.csv')
crew.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
crew.iloc[1:5]

,movie_id,title,cast,crew
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
import json

In [18]:
crew['cast_new'] = crew.cast.apply(lambda x : json.loads(x))

In [19]:
(tycrew.iloc[0].cast_new)

NameError: name 'tycrew' is not defined

In [88]:
def get_actor_names(x):
    temp = ""
    for i in x[:6]:
        temp += (i['name']).replace(" ","").lower()
        temp+= " "
    return temp.strip()

In [89]:
get_actor_names(crew.iloc[1].cast_new)

'johnnydepp orlandobloom keiraknightley stellanskarsgård chowyun-fat billnighy'

In [93]:
crew['cast_new1'] = crew.cast_new.apply(get_actor_names)
crew.iloc[1].cast_new1

'johnnydepp orlandobloom keiraknightley stellanskarsgård chowyun-fat billnighy'

In [96]:
crew.iloc[100].cast_new1

'cateblanchett bradpitt tildaswinton juliaormond ellefanning madisenbeaty'

In [65]:
crew.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
cast_new    0
dtype: int64

In [72]:
d = crew.cast_new.apply(lambda x :len(x))

In [91]:
d.head()

0     83
1     34
2     83
3    158
4     27
Name: cast, dtype: int64

In [97]:
crew.iloc[0].crew

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [112]:
crew['crew_new'] = crew.crew.apply(lambda x : json.loads(x))

In [113]:
def get_crew_names(x):
    temp = ""
    print(x)
    temp += (x.crew_new['credit_id']).replace(" ","").lower()
    temp+= " "
    return temp.strip()

In [146]:
def extract_roles_as_string(crew_list):
    # Define the roles of interest
    roles_of_interest = {"Director", "Producer", "Writer", "Editor", "Cinematographer","Sound Designer","Art Direction"}
    
    # Use a set to store unique names
    unique_names = set()
    
    # Extract names for each role
    for member in crew_list:
        if member["job"] in roles_of_interest:
            # Remove spaces and periods, then convert to lowercase
            full_name = member["name"].replace(" ", "").replace(".", "").lower()
            unique_names.add(full_name)
    
    # Return a single string of unique names
    return " ".join(unique_names)

In [147]:
extract_roles_as_string(crew.iloc[0].crew_new)

'jamescameron christopherboyes jillcormack seanhaworth stephenerivkin jonlandau andymclaren robertbavin andrewmenzies simonbright nickbassett johnrefoua'

In [120]:
get_crew_names(crew.iloc[0].crew_new)

[{'credit_id': '52fe48009251416c750aca23', 'department': 'Editing', 'gender': 0, 'id': 1721, 'job': 'Editor', 'name': 'Stephen E. Rivkin'}, {'credit_id': '539c47ecc3a36810e3001f87', 'department': 'Art', 'gender': 2, 'id': 496, 'job': 'Production Design', 'name': 'Rick Carter'}, {'credit_id': '54491c89c3a3680fb4001cf7', 'department': 'Sound', 'gender': 0, 'id': 900, 'job': 'Sound Designer', 'name': 'Christopher Boyes'}, {'credit_id': '54491cb70e0a267480001bd0', 'department': 'Sound', 'gender': 0, 'id': 900, 'job': 'Supervising Sound Editor', 'name': 'Christopher Boyes'}, {'credit_id': '539c4a4cc3a36810c9002101', 'department': 'Production', 'gender': 1, 'id': 1262, 'job': 'Casting', 'name': 'Mali Finn'}, {'credit_id': '5544ee3b925141499f0008fc', 'department': 'Sound', 'gender': 2, 'id': 1729, 'job': 'Original Music Composer', 'name': 'James Horner'}, {'credit_id': '52fe48009251416c750ac9c3', 'department': 'Directing', 'gender': 2, 'id': 2710, 'job': 'Director', 'name': 'James Cameron'}, {'credit_id': '52fe48009251416c750ac9d9', 'department': 'Writing', 'gender': 2, 'id': 2710, 'job': 'Writer', 'name': 'James Cameron'}, {'credit_id': '52fe48009251416c750aca17', 'department': 'Editing', 'gender': 2, 'id': 2710, 'job': 'Editor', 'name': 'James Cameron'}, {'credit_id': '52fe48009251416c750aca29', 'department': 'Production', 'gender': 2, 'id': 2710, 'job': 'Producer', 'name': 'James Cameron'}, {'credit_id': '52fe48009251416c750aca3f', 'department': 'Writing', 'gender': 2, 'id': 2710, 'job': 'Screenplay', 'name': 'James Cameron'}, {'credit_id': '539c4987c3a36810ba0021a4', 'department': 'Art', 'gender': 2, 'id': 7236, 'job': 'Art Direction', 'name': 'Andrew Menzies'}, {'credit_id': '549598c3c3a3686ae9004383', 'department': 'Visual Effects', 'gender': 0, 'id': 6690, 'job': 'Visual Effects Producer', 'name': 'Jill Brooks'}, {'credit_id': '52fe48009251416c750aca4b', 'department': 'Production', 'gender': 1, 'id': 6347, 'job': 'Casting', 'name': 'Margery Simkin'}, {'credit_id': '570b6f419251417da70032fe', 'department': 'Art', 'gender': 2, 'id': 6878, 'job': 'Supervising Art Director', 'name': 'Kevin Ishioka'}, {'credit_id': '5495a0fac3a3686ae9004468', 'department': 'Sound', 'gender': 0, 'id': 6883, 'job': 'Music Editor', 'name': 'Dick Bernstein'}, {'credit_id': '54959706c3a3686af3003e81', 'department': 'Sound', 'gender': 0, 'id': 8159, 'job': 'Sound Effects Editor', 'name': 'Shannon Mills'}, {'credit_id': '54491d58c3a3680fb1001ccb', 'department': 'Sound', 'gender': 0, 'id': 8160, 'job': 'Foley', 'name': 'Dennie Thorpe'}, {'credit_id': '54491d6cc3a3680fa5001b2c', 'department': 'Sound', 'gender': 0, 'id': 8163, 'job': 'Foley', 'name': 'Jana Vance'}, {'credit_id': '52fe48009251416c750aca57', 'department': 'Costume & Make-Up', 'gender': 1, 'id': 8527, 'job': 'Costume Design', 'name': 'Deborah Lynn Scott'}, {'credit_id': '52fe48009251416c750aca2f', 'department': 'Production', 'gender': 2, 'id': 8529, 'job': 'Producer', 'name': 'Jon Landau'}, {'credit_id': '539c4937c3a36810ba002194', 'department': 'Art', 'gender': 0, 'id': 9618, 'job': 'Art Direction', 'name': 'Sean Haworth'}, {'credit_id': '539c49b6c3a36810c10020e6', 'department': 'Art', 'gender': 1, 'id': 12653, 'job': 'Set Decoration', 'name': 'Kim Sinclair'}, {'credit_id': '570b6f2f9251413a0e00020d', 'department': 'Art', 'gender': 1, 'id': 12653, 'job': 'Supervising Art Director', 'name': 'Kim Sinclair'}, {'credit_id': '54491a6c0e0a26748c001b19', 'department': 'Art', 'gender': 2, 'id': 14350, 'job': 'Set Designer', 'name': 'Richard F. Mays'}, {'credit_id': '56928cf4c3a3684cff0025c4', 'department': 'Production', 'gender': 1, 'id': 20294, 'job': 'Executive Producer', 'name': 'Laeta Kalogridis'}, {'credit_id': '52fe48009251416c750aca51', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 17675, 'job': 'Costume Design', 'name': 'Mayes C. Rubeo'}, {'credit_id': '52fe48009251416c750aca11', 'department': 'Camera', 'gender': 2, 'id': 18265, 'job': 'Director of Photography', 'name': 'Mauro Fiore'}, {'credit_id': '5449194d0e0a26748f001b39', 'department': 'Art', 'gender': 0, 'id': 42281, 'job': 'Set Designer', 'name': 'Scott Herbertson'}, {'credit_id': '52fe48009251416c750aca05', 'department': 'Crew', 'gender': 0, 'id': 42288, 'job': 'Stunts', 'name': 'Woody Schultz'}, {'credit_id': '5592aefb92514152de0010f5', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 29067, 'job': 'Makeup Artist', 'name': 'Linda DeVetta'}, {'credit_id': '5592afa492514152de00112c', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 29067, 'job': 'Hairstylist', 'name': 'Linda DeVetta'}, {'credit_id': '54959ed592514130fc002e5d', 'department': 'Camera', 'gender': 2, 'id': 33302, 'job': 'Camera Operator', 'name': 'Richard Bluck'}, {'credit_id': '539c4891c3a36810ba002147', 'department': 'Art', 'gender': 2, 'id': 33303, 'job': 'Art Direction', 'name': 'Simon Bright'}, {'credit_id': '54959c069251417a81001f3a', 'department': 'Visual Effects', 'gender': 0, 'id': 113145, 'job': 'Visual Effects Supervisor', 'name': 'Richard Martin'}, {'credit_id': '54959a0dc3a3680ff5002c8d', 'department': 'Crew', 'gender': 2, 'id': 58188, 'job': 'Visual Effects Editor', 'name': 'Steve R. Moore'}, {'credit_id': '52fe48009251416c750aca1d', 'department': 'Editing', 'gender': 2, 'id': 58871, 'job': 'Editor', 'name': 'John Refoua'}, {'credit_id': '54491a4dc3a3680fc30018ca', 'department': 'Art', 'gender': 0, 'id': 92359, 'job': 'Set Designer', 'name': 'Karl J. Martin'}, {'credit_id': '52fe48009251416c750aca35', 'department': 'Camera', 'gender': 1, 'id': 72201, 'job': 'Director of Photography', 'name': 'Chiling Lin'}, {'credit_id': '52fe48009251416c750ac9ff', 'department': 'Crew', 'gender': 0, 'id': 89714, 'job': 'Stunts', 'name': 'Ilram Choi'}, {'credit_id': '54959c529251416e2b004394', 'department': 'Visual Effects', 'gender': 2, 'id': 93214, 'job': 'Visual Effects Supervisor', 'name': 'Steven Quale'}, {'credit_id': '54491edf0e0a267489001c37', 'department': 'Crew', 'gender': 1, 'id': 122607, 'job': 'Dialect Coach', 'name': 'Carla Meyer'}, {'credit_id': '539c485bc3a368653d001a3a', 'department': 'Art', 'gender': 2, 'id': 132585, 'job': 'Art Direction', 'name': 'Nick Bassett'}, {'credit_id': '539c4903c3a368653d001a74', 'department': 'Art', 'gender': 0, 'id': 132596, 'job': 'Art Direction', 'name': 'Jill Cormack'}, {'credit_id': '539c4967c3a368653d001a94', 'department': 'Art', 'gender': 0, 'id': 132604, 'job': 'Art Direction', 'name': 'Andy McLaren'}, {'credit_id': '52fe48009251416c750aca45', 'department': 'Crew', 'gender': 0, 'id': 236696, 'job': 'Motion Capture Artist', 'name': 'Terry Notary'}, {'credit_id': '54959e02c3a3680fc60027d2', 'department': 'Crew', 'gender': 2, 'id': 956198, 'job': 'Stunt Coordinator', 'name': 'Garrett Warren'}, {'credit_id': '54959ca3c3a3686ae300438c', 'department': 'Visual Effects', 'gender': 2, 'id': 957874, 'job': 'Visual Effects Supervisor', 'name': 'Jonathan Rothbart'}, {'credit_id': '570b6f519251412c74001b2f', 'department': 'Art', 'gender': 0, 'id': 957889, 'job': 'Supervising Art Director', 'name': 'Stefan Dechant'}, {'credit_id': '570b6f62c3a3680b77007460', 'department': 'Art', 'gender': 2, 'id': 959555, 'job': 'Supervising Art Director', 'name': 'Todd Cherniawsky'}, {'credit_id': '539c4a3ac3a36810da0021cc', 'department': 'Production', 'gender': 0, 'id': 1016177, 'job': 'Casting', 'name': 'Miranda Rivers'}, {'credit_id': '539c482cc3a36810c1002062', 'department': 'Art', 'gender': 0, 'id': 1032536, 'job': 'Production Design', 'name': 'Robert Stromberg'}, {'credit_id': '539c4b65c3a36810c9002125', 'department': 'Costume & Make-Up', 'gender': 2, 'id': 1071680, 'job': 'Costume Design', 'name': 'John Harding'}, {'credit_id': '54959e6692514130fc002e4e', 'department': 'Camera', 'gender': 0, 'id': 1177364, 'job': 'Steadicam Operator', 'name': 'Roberto De Angelis'}, {'credit_id': '539c49f1c3a368653d001aac', 'department': 'Costume & Make-Up', 'gender': 2, 'id': 1202850, 'job': 'Makeup Department Head', 'name': 'Mike Smithson'}, {'credit_id': '5495999ec3a3686ae100460c', 'department': 'Visual Effects', 'gender': 0, 'id': 1204668, 'job': 'Visual Effects Producer', 'name': 'Alain Lalanne'}, {'credit_id': '54959cdfc3a3681153002729', 'department': 'Visual Effects', 'gender': 0, 'id': 1206410, 'job': 'Visual Effects Supervisor', 'name': 'Lucas Salton'}, {'credit_id': '549596239251417a81001eae', 'department': 'Crew', 'gender': 0, 'id': 1234266, 'job': 'Post Production Supervisor', 'name': 'Janace Tashjian'}, {'credit_id': '54959c859251416e1e003efe', 'department': 'Visual Effects', 'gender': 0, 'id': 1271932, 'job': 'Visual Effects Supervisor', 'name': 'Stephen Rosenbaum'}, {'credit_id': '5592af28c3a368775a00105f', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1310064, 'job': 'Makeup Artist', 'name': 'Frankie Karena'}, {'credit_id': '539c4adfc3a36810e300203b', 'department': 'Costume & Make-Up', 'gender': 1, 'id': 1319844, 'job': 'Costume Supervisor', 'name': 'Lisa Lovaas'}, {'credit_id': '54959b579251416e2b004371', 'department': 'Visual Effects', 'gender': 0, 'id': 1327028, 'job': 'Visual Effects Supervisor', 'name': 'Jonathan Fawkner'}, {'credit_id': '539c48a7c3a36810b5001fa7', 'department': 'Art', 'gender': 0, 'id': 1330561, 'job': 'Art Direction', 'name': 'Robert Bavin'}, {'credit_id': '539c4a71c3a36810da0021e0', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1330567, 'job': 'Costume Supervisor', 'name': 'Anthony Almaraz'}, {'credit_id': '539c4a8ac3a36810ba0021e4', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1330570, 'job': 'Costume Supervisor', 'name': 'Carolyn M. Fenton'}, {'credit_id': '539c4ab6c3a36810da0021f0', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1330574, 'job': 'Costume Supervisor', 'name': 'Beth Koenigsberg'}, {'credit_id': '54491ab70e0a267480001ba2', 'department': 'Art', 'gender': 0, 'id': 1336191, 'job': 'Set Designer', 'name': 'Sam Page'}, {'credit_id': '544919d9c3a3680fc30018bd', 'department': 'Art', 'gender': 0, 'id': 1339441, 'job': 'Set Designer', 'name': 'Tex Kadonaga'}, {'credit_id': '54491cf50e0a267483001b0c', 'department': 'Editing', 'gender': 0, 'id': 1352422, 'job': 'Dialogue Editor', 'name': 'Kim Foscato'}, {'credit_id': '544919f40e0a26748c001b09', 'department': 'Art', 'gender': 0, 'id': 1352962, 'job': 'Set Designer', 'name': 'Tammy S. Lee'}, {'credit_id': '5495a115c3a3680ff5002d71', 'department': 'Crew', 'gender': 0, 'id': 1357070, 'job': 'Transportation Coordinator', 'name': 'Denny Caira'}, {'credit_id': '5495a12f92514130fc002e94', 'department': 'Crew', 'gender': 0, 'id': 1357071, 'job': 'Transportation Coordinator', 'name': 'James Waitkus'}, {'credit_id': '5495976fc3a36811530026b0', 'department': 'Sound', 'gender': 0, 'id': 1360103, 'job': 'Supervising Sound Editor', 'name': 'Addison Teague'}, {'credit_id': '54491837c3a3680fb1001c5a', 'department': 'Art', 'gender': 2, 'id': 1376887, 'job': 'Set Designer', 'name': 'C. Scott Baker'}, {'credit_id': '54491878c3a3680fb4001c9d', 'department': 'Art', 'gender': 0, 'id': 1376888, 'job': 'Set Designer', 'name': 'Luke Caska'}, {'credit_id': '544918dac3a3680fa5001ae0', 'department': 'Art', 'gender': 0, 'id': 1376889, 'job': 'Set Designer', 'name': 'David Chow'}, {'credit_id': '544919110e0a267486001b68', 'department': 'Art', 'gender': 0, 'id': 1376890, 'job': 'Set Designer', 'name': 'Jonathan Dyer'}, {'credit_id': '54491967c3a3680faa001b5e', 'department': 'Art', 'gender': 0, 'id': 1376891, 'job': 'Set Designer', 'name': 'Joseph Hiura'}, {'credit_id': '54491997c3a3680fb1001c8a', 'department': 'Art', 'gender': 0, 'id': 1376892, 'job': 'Art Department Coordinator', 'name': 'Rebecca Jellie'}, {'credit_id': '544919ba0e0a26748f001b42', 'department': 'Art', 'gender': 0, 'id': 1376893, 'job': 'Set Designer', 'name': 'Robert Andrew Johnson'}, {'credit_id': '54491b1dc3a3680faa001b8c', 'department': 'Art', 'gender': 0, 'id': 1376895, 'job': 'Assistant Art Director', 'name': 'Mike Stassi'}, {'credit_id': '54491b79c3a3680fbb001826', 'department': 'Art', 'gender': 0, 'id': 1376897, 'job': 'Construction Coordinator', 'name': 'John Villarino'}, {'credit_id': '54491baec3a3680fb4001ce6', 'department': 'Art', 'gender': 2, 'id': 1376898, 'job': 'Assistant Art Director', 'name': 'Jeffrey Wisniewski'}, {'credit_id': '54491d2fc3a3680fb4001d07', 'department': 'Editing', 'gender': 0, 'id': 1376899, 'job': 'Dialogue Editor', 'name': 'Cheryl Nardi'}, {'credit_id': '54491d86c3a3680fa5001b2f', 'department': 'Editing', 'gender': 0, 'id': 1376901, 'job': 'Dialogue Editor', 'name': 'Marshall Winn'}, {'credit_id': '54491d9dc3a3680faa001bb0', 'department': 'Sound', 'gender': 0, 'id': 1376902, 'job': 'Supervising Sound Editor', 'name': 'Gwendolyn Yates Whittle'}, {'credit_id': '54491dc10e0a267486001bce', 'department': 'Sound', 'gender': 0, 'id': 1376903, 'job': 'Sound Re-Recording Mixer', 'name': 'William Stein'}, {'credit_id': '54491f500e0a26747c001c07', 'department': 'Crew', 'gender': 0, 'id': 1376909, 'job': 'Choreographer', 'name': 'Lula Washington'}, {'credit_id': '549599239251412c4e002a2e', 'department': 'Visual Effects', 'gender': 0, 'id': 1391692, 'job': 'Visual Effects Producer', 'name': 'Chris Del Conte'}, {'credit_id': '54959d54c3a36831b8001d9a', 'department': 'Visual Effects', 'gender': 2, 'id': 1391695, 'job': 'Visual Effects Supervisor', 'name': 'R. Christopher White'}, {'credit_id': '54959bdf9251412c4e002a66', 'department': 'Visual Effects', 'gender': 0, 'id': 1394070, 'job': 'Visual Effects Supervisor', 'name': 'Dan Lemmon'}, {'credit_id': '5495971d92514132ed002922', 'department': 'Sound', 'gender': 0, 'id': 1394129, 'job': 'Sound Effects Editor', 'name': 'Tim Nielsen'}, {'credit_id': '5592b25792514152cc0011aa', 'department': 'Crew', 'gender': 0, 'id': 1394286, 'job': 'CG Supervisor', 'name': 'Michael Mulholland'}, {'credit_id': '54959a329251416e2b004355', 'department': 'Crew', 'gender': 0, 'id': 1394750, 'job': 'Visual Effects Editor', 'name': 'Thomas Nittmann'}, {'credit_id': '54959d6dc3a3686ae9004401', 'department': 'Visual Effects', 'gender': 0, 'id': 1394755, 'job': 'Visual Effects Supervisor', 'name': 'Edson Williams'}, {'credit_id': '5495a08fc3a3686ae300441c', 'department': 'Editing', 'gender': 0, 'id': 1394953, 'job': 'Digital Intermediate', 'name': 'Christine Carr'}, {'credit_id': '55402d659251413d6d000249', 'department': 'Visual Effects', 'gender': 0, 'id': 1395269, 'job': 'Visual Effects Supervisor', 'name': 'John Bruno'}, {'credit_id': '54959e7b9251416e1e003f3e', 'department': 'Camera', 'gender': 0, 'id': 1398970, 'job': 'Steadicam Operator', 'name': 'David Emmerichs'}, {'credit_id': '54959734c3a3686ae10045e0', 'department': 'Sound', 'gender': 0, 'id': 1400906, 'job': 'Sound Effects Editor', 'name': 'Christopher Scarabosio'}, {'credit_id': '549595dd92514130fc002d79', 'department': 'Production', 'gender': 0, 'id': 1401784, 'job': 'Production Supervisor', 'name': 'Jennifer Teves'}, {'credit_id': '549596009251413af70028cc', 'department': 'Production', 'gender': 0, 'id': 1401785, 'job': 'Production Manager', 'name': 'Brigitte Yorke'}, {'credit_id': '549596e892514130fc002d99', 'department': 'Sound', 'gender': 0, 'id': 1401786, 'job': 'Sound Effects Editor', 'name': 'Ken Fischer'}, {'credit_id': '549598229251412c4e002a1c', 'department': 'Crew', 'gender': 0, 'id': 1401787, 'job': 'Special Effects Coordinator', 'name': 'Iain Hutton'}, {'credit_id': '549598349251416e2b00432b', 'department': 'Crew', 'gender': 0, 'id': 1401788, 'job': 'Special Effects Coordinator', 'name': 'Steve Ingram'}, {'credit_id': '54959905c3a3686ae3004324', 'department': 'Visual Effects', 'gender': 0, 'id': 1401789, 'job': 'Visual Effects Producer', 'name': 'Joyce Cox'}, {'credit_id': '5495994b92514132ed002951', 'department': 'Visual Effects', 'gender': 0, 'id': 1401790, 'job': 'Visual Effects Producer', 'name': 'Jenny Foster'}, {'credit_id': '549599cbc3a3686ae1004613', 'department': 'Crew', 'gender': 0, 'id': 1401791, 'job': 'Visual Effects Editor', 'name': 'Christopher Marino'}, {'credit_id': '549599f2c3a3686ae100461e', 'department': 'Crew', 'gender': 0, 'id': 1401792, 'job': 'Visual Effects Editor', 'name': 'Jim Milton'}, {'credit_id': '54959a51c3a3686af3003eb5', 'department': 'Visual Effects', 'gender': 0, 'id': 1401793, 'job': 'Visual Effects Producer', 'name': 'Cyndi Ochs'}, {'credit_id': '54959a7cc3a36811530026f4', 'department': 'Crew', 'gender': 0, 'id': 1401794, 'job': 'Visual Effects Editor', 'name': 'Lucas Putnam'}, {'credit_id': '54959b91c3a3680ff5002cb4', 'department': 'Visual Effects', 'gender': 0, 'id': 1401795, 'job': 'Visual Effects Supervisor', 'name': "Anthony 'Max' Ivins"}, {'credit_id': '54959bb69251412c4e002a5f', 'department': 'Visual Effects', 'gender': 0, 'id': 1401796, 'job': 'Visual Effects Supervisor', 'name': 'John Knoll'}, {'credit_id': '54959cbbc3a3686ae3004391', 'department': 'Visual Effects', 'gender': 2, 'id': 1401799, 'job': 'Visual Effects Supervisor', 'name': 'Eric Saindon'}, {'credit_id': '54959d06c3a3686ae90043f6', 'department': 'Visual Effects', 'gender': 0, 'id': 1401800, 'job': 'Visual Effects Supervisor', 'name': 'Wayne Stables'}, {'credit_id': '54959d259251416e1e003f11', 'department': 'Visual Effects', 'gender': 0, 'id': 1401801, 'job': 'Visual Effects Supervisor', 'name': 'David Stinnett'}, {'credit_id': '54959db49251413af7002975', 'department': 'Visual Effects', 'gender': 0, 'id': 1401803, 'job': 'Visual Effects Supervisor', 'name': 'Guy Williams'}, {'credit_id': '54959de4c3a3681153002750', 'department': 'Crew', 'gender': 0, 'id': 1401804, 'job': 'Stunt Coordinator', 'name': 'Stuart Thorp'}, {'credit_id': '54959ef2c3a3680fc60027f2', 'department': 'Lighting', 'gender': 0, 'id': 1401805, 'job': 'Best Boy Electric', 'name': 'Giles Coburn'}, {'credit_id': '54959f07c3a3680fc60027f9', 'department': 'Camera', 'gender': 2, 'id': 1401806, 'job': 'Still Photographer', 'name': 'Mark Fellman'}, {'credit_id': '54959f47c3a3681153002774', 'department': 'Lighting', 'gender': 0, 'id': 1401807, 'job': 'Lighting Technician', 'name': 'Scott Sprague'}, {'credit_id': '54959f8cc3a36831b8001df2', 'department': 'Visual Effects', 'gender': 0, 'id': 1401808, 'job': 'Animation Director', 'name': 'Jeremy Hollobon'}, {'credit_id': '54959fa0c3a36831b8001dfb', 'department': 'Visual Effects', 'gender': 0, 'id': 1401809, 'job': 'Animation Director', 'name': 'Orlando Meunier'}, {'credit_id': '54959fb6c3a3686af3003f54', 'department': 'Visual Effects', 'gender': 0, 'id': 1401810, 'job': 'Animation Director', 'name': 'Taisuke Tanimura'}, {'credit_id': '54959fd2c3a36831b8001e02', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1401812, 'job': 'Set Costumer', 'name': 'Lilia Mishel Acevedo'}, {'credit_id': '54959ff9c3a3686ae300440c', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1401814, 'job': 'Set Costumer', 'name': 'Alejandro M. Hernandez'}, {'credit_id': '5495a0ddc3a3686ae10046fe', 'department': 'Editing', 'gender': 0, 'id': 1401815, 'job': 'Digital Intermediate', 'name': 'Marvin Hall'}, {'credit_id': '5495a1f7c3a3686ae3004443', 'department': 'Production', 'gender': 0, 'id': 1401816, 'job': 'Publicist', 'name': 'Judy Alley'}, {'credit_id': '5592b29fc3a36869d100002f', 'department': 'Crew', 'gender': 0, 'id': 1418381, 'job': 'CG Supervisor', 'name': 'Mike Perry'}, {'credit_id': '5592b23a9251415df8001081', 'department': 'Crew', 'gender': 0, 'id': 1426854, 'job': 'CG Supervisor', 'name': 'Andrew Morley'}, {'credit_id': '55491e1192514104c40002d8', 'department': 'Art', 'gender': 0, 'id': 1438901, 'job': 'Conceptual Design', 'name': 'Seth Engstrom'}, {'credit_id': '5525d5809251417276002b06', 'department': 'Crew', 'gender': 0, 'id': 1447362, 'job': 'Visual Effects Art Director', 'name': 'Eric Oliver'}, {'credit_id': '554427ca925141586500312a', 'department': 'Visual Effects', 'gender': 0, 'id': 1447503, 'job': 'Modeling', 'name': 'Matsune Suzuki'}, {'credit_id': '551906889251415aab001c88', 'department': 'Art', 'gender': 0, 'id': 1447524, 'job': 'Art Department Manager', 'name': 'Paul Tobin'}, {'credit_id': '5592af8492514152cc0010de', 'department': 'Co

AttributeError: 'list' object has no attribute 'crew_new'

In [149]:
crew["unique_roles_string"] = crew["crew_new"].apply(extract_roles_as_string)

In [150]:
crew.head()

,movie_id,title,cast,crew,cast_new,cast_new1,crew_new,unique_roles_string
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{'cast_id': 242, 'character': 'Jake Sully', '...",samworthington zoesaldana sigourneyweaver step...,"[{'credit_id': '52fe48009251416c750aca23', 'de...",jamescameron christopherboyes jillcormack sean...
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{'cast_id': 4, 'character': 'Captain Jack Spa...",johnnydepp orlandobloom keiraknightley stellan...,"[{'credit_id': '52fe4232c3a36847f800b579', 'de...",johndexter patsandston peterkohn ericmcleod go...
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{'cast_id': 1, 'character': 'James Bond', 'cr...",danielcraig christophwaltz léaseydoux ralphfie...,"[{'credit_id': '54805967c3a36829b5002c41', 'de...",barbarabroccoli markharris christopherassells ...
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...",christianbale michaelcaine garyoldman annehath...,"[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",deanwolcott jonathankevinong tomstill suewhita...
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{'cast_id': 5, 'character': 'John Carter', 'c...",taylorkitsch lynncollins samanthamorton willem...,"[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",josephhodges deanwolcott ericzumbrunnen markha...

In [152]:
crew = crew.iloc[:,[0,1,5,7]]

In [157]:
crew.head()

,movie_id,title,cast_new1,unique_roles_string,final
0,19995,Avatar,samworthington zoesaldana sigourneyweaver step...,jamescameron christopherboyes jillcormack sean...,samworthington zoesaldana sigourneyweaver step...
1,285,Pirates of the Caribbean: At World's End,johnnydepp orlandobloom keiraknightley stellan...,johndexter patsandston peterkohn ericmcleod go...,johnnydepp orlandobloom keiraknightley stellan...
2,206647,Spectre,danielcraig christophwaltz léaseydoux ralphfie...,barbarabroccoli markharris christopherassells ...,danielcraig christophwaltz léaseydoux ralphfie...
3,49026,The Dark Knight Rises,christianbale michaelcaine garyoldman annehath...,deanwolcott jonathankevinong tomstill suewhita...,christianbale michaelcaine garyoldman annehath...
4,49529,John Carter,taylorkitsch lynncollins samanthamorton willem...,josephhodges deanwolcott ericzumbrunnen markha...,taylorkitsch lynncollins samanthamorton willem...

In [155]:
crew['final'] = crew['cast_new1'] + crew['unique_roles_string']

/tmp/ipykernel_2834/738037373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['final'] = crew['cast_new1'] + crew['unique_roles_string']

In [161]:
crew['final'] = crew.final.str.strip()

/tmp/ipykernel_2834/2562258271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crew['final'] = crew.final.str.strip()

In [165]:
crew.head()

,movie_id,title,cast_new1,unique_roles_string,final
0,19995,Avatar,samworthington zoesaldana sigourneyweaver step...,jamescameron christopherboyes jillcormack sean...,samworthington zoesaldana sigourneyweaver step...
1,285,Pirates of the Caribbean: At World's End,johnnydepp orlandobloom keiraknightley stellan...,johndexter patsandston peterkohn ericmcleod go...,johnnydepp orlandobloom keiraknightley stellan...
2,206647,Spectre,danielcraig christophwaltz léaseydoux ralphfie...,barbarabroccoli markharris christopherassells ...,danielcraig christophwaltz léaseydoux ralphfie...
3,49026,The Dark Knight Rises,christianbale michaelcaine garyoldman annehath...,deanwolcott jonathankevinong tomstill suewhita...,christianbale michaelcaine garyoldman annehath...
4,49529,John Carter,taylorkitsch lynncollins samanthamorton willem...,josephhodges deanwolcott ericzumbrunnen markha...,taylorkitsch lynncollins samanthamorton willem...

In [15]:
crew.to_csv('dataset/version2/2/new_crew.csv',index=False)

In [16]:
crew = pd.read_csv('dataset/version2/2/new_crew.csv')

In [17]:
crew.iloc[0].cast_new1

'samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi'

In [18]:
crew.iloc[0].unique_roles_string

'jamescameron christopherboyes jillcormack seanhaworth stephenerivkin jonlandau andymclaren robertbavin andrewmenzies simonbright nickbassett johnrefoua'

In [19]:
crew.iloc[0].final

'samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi jamescameron christopherboyes jillcormack seanhaworth stephenerivkin jonlandau andymclaren robertbavin andrewmenzies simonbright nickbassett johnrefoua'

In [13]:
crew['final'] = crew.cast_new1 + " " + crew.unique_roles_string

In [32]:
df.head(2)

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,6.9,4500

In [33]:
movies = df.copy()

In [35]:
movies.head(3)

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,6.9,4500
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,6.3,4466

In [39]:
movies.loc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [40]:
import json

In [53]:
def get_key(x):
    temp = ""
    for i in json.loads(x):
        temp += (i['name']).replace(" ","")
        temp += " "
    return temp.strip()

In [54]:
get_key(movies.iloc[0].keywords)

'cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [55]:
movies['final'] = movies['keywords'].apply(get_key)

In [63]:
movies.iloc[0]

id                                                            19995
keywords          [{"id": 1463, "name": "culture clash"}, {"id":...
original_title                                               Avatar
overview          In the 22nd century, a paraplegic Marine is di...
popularity                                               150.437577
release_date                                             2009-12-10
vote_average                                                    7.2
vote_count                                                    11800
final             cultureclash future spacewar spacecolony socie...
cast              samworthington zoesaldana sigourneyweaver step...
Name: 0, dtype: object

In [61]:
movies.release_date.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4803 entries, 0 to 4802
Series name: release_date
Non-Null Count  Dtype
--------------  -----
4802 non-null   object
dtypes: object(1)
memory usage: 37.7+ KB

In [64]:
movies['final'] = movies ['final'] + " " + movies['cast']

In [67]:
movies.iloc[1].final

"ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley stellanskarsgård chowyun-fat billnighy johndexter patsandston peterkohn ericmcleod goreverbinski stephenerivkin jerrybruckheimer chadoman craigwood"

In [68]:
movies = movies[['id','original_title','overview','final']]

In [69]:
movies.head()

,id,original_title,overview,final
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",cultureclash future spacewar spacecolony socie...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",ocean drugabuse exoticisland eastindiatradingc...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,spy basedonnovel secretagent sequel mi6 britis...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,dccomics crimefighter terrorist secretidentity...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",basedonnovel mars medallion spacetravel prince...

In [96]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import string
from nltk import pos_tag
from nltk.corpus import wordnet

In [99]:
nltk.download('averaged_perceptron_tagger_eng')
nltk.download('punkt_tab')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/vk/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.
[nltk_data] Downloading package punkt_tab to /home/vk/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to /home/vk/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/vk/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /home/vk/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [90]:
# Initialize lemmatizer and stop words
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [101]:
# Map NLTK POS tags to WordNet POS tags
def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def preprocess_text_with_pos(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if word not in stop_words]
    pos_tags = pos_tag(tokens)
    processed_tokens = [
        lemmatizer.lemmatize(word, get_wordnet_pos(tag)) if get_wordnet_pos(tag) else word
        for word, tag in pos_tags
    ]
    return ' '.join(processed_tokens)

In [103]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [102]:
preprocess_text_with_pos(movies.overview[0])

'22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [104]:
movies['processed_overview'] = movies.overview.apply(preprocess_text_with_pos)

In [106]:
movies.to_csv('dataset/version2/2/new_movies.csv')

In [108]:
movies['final'] = movies.final + " " + movies.processed_overview

In [114]:
temp = pd.read_csv('dataset/version2/2/tmdb_5000_movies.csv')
temp.head()

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,6.9,4500
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,6.3,4466
3,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,7.6,9106
4,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,6.1,2124

In [123]:
crew[crew.unique_roles_string.isnull()].iloc[0:10]

Empty DataFrame
Columns: [movie_id, title, cast_new1, unique_roles_string, final]
Index: []

In [120]:
crew.cast_new1.fillna("",inplace=True)

In [122]:
crew.unique_roles_string.fillna("",inplace=True)

In [124]:
crew['final'] = crew.cast_new1 + " " + crew.unique_roles_string

In [125]:
crew.isnull().sum()

movie_id               0
title                  0
cast_new1              0
unique_roles_string    0
final                  0
dtype: int64

In [126]:
movies['tokenize'] = movies.processed_overview + " " +

,id,original_title,overview,final,processed_overview
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",cultureclash future spacewar spacecolony socie...,22nd century paraplegic marine dispatch moon p...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",ocean drugabuse exoticisland eastindiatradingc...,captain barbossa long believe dead come back l...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,spy basedonnovel secretagent sequel mi6 britis...,cryptic message bond ’ past sends trail uncove...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,dccomics crimefighter terrorist secretidentity...,follow death district attorney harvey dent bat...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",basedonnovel mars medallion spacetravel prince...,john carter warweary former military captain w...

In [343]:
movies.to_csv('dataset/version2/2/new_movies.csv',index = False)

In [141]:
movies.isnull().sum()

id                    0
original_title        0
overview              0
final                 0
processed_overview    0
dtype: int64

In [137]:
# Update 'final' column for rows where 'final' is NaN
movies.loc[movies.final.isnull(), 'final'] = temp.loc[movies.final.isnull(), 'keywords'].apply(get_key)

In [73]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [143]:
movies.iloc[0].final

'cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi jamescameron christopherboyes jillcormack seanhaworth stephenerivkin jonlandau andymclaren robertbavin andrewmenzies simonbright nickbassett johnrefoua 22nd century paraplegic marine dispatch moon pandora unique mission become torn follow order protect alien civilization'

In [269]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from gensim.models import Word2Vec
import numpy as np
import faiss

In [196]:
movies.id.values

array([ 19995,    285, 206647, ..., 231617, 126186,  25975])

In [197]:
mti = {m:i for i,m in zip(movies.index.values,movies.id.values)}

In [208]:
itm = {v: k for k, v in mti.items()}

285

In [227]:
count_vectorizer = CountVectorizer(max_features=5000)
tfidf_vectorizer = TfidfVectorizer(max_features=5000)

In [156]:
# first countvect

In [228]:
count_vec_matrix = count_vectorizer.fit_transform(movies['final']).toarray()
count_vec_matrix = count_vec_matrix.astype(np.float32)
count_vec_matrix.shape
np.count_nonzero(count_vec_matrix[0])

In [251]:
# second tfidf

In [324]:
tfidf_vec_matrix = tfidf_vectorizer.fit_transform(movies['final']).toarray()
tfidf_vec_matrix = tfidf_vec_matrix.astype(np.float32)
print(tfidf_vec_matrix.shape)
np.count_nonzero(tfidf_vec_matrix[0])

(4803, 5000)

31

In [272]:
tokenized_sentences = movies['final'].dropna().str.split().tolist()

In [264]:
#word2vec

In [273]:
# Train Word2Vec model
w2v_model = Word2Vec(
    sentences=tokenized_sentences,  # List of tokenized sentences
    vector_size=50,                # Dimensions of the word vectors
    window=5,                      # Context window size
    min_count=1,                   # Minimum word frequency
    sg=0,                          # Skip-gram (1) or CBOW (0)
    epochs=10                      # Number of training epochs
)

In [274]:
# Function to get average Word2Vec embeddings for a sentence
def get_avg_word2vec(sentence, model):
    words = sentence.split()
    vectors = [model.wv[word] for word in words if word in model.wv]
    return np.mean(vectors, axis=0) if vectors else np.zeros(model.vector_size)

In [288]:
movies['w2v_final'] = movies['final'].apply(lambda x: get_avg_word2vec(x, w2v_model))

In [295]:
w2v_matrix = np.vstack(movies['w2v_final'].values)

In [307]:
w2v_matrix = w2v_matrix.astype(np.float32)

In [309]:
w2v_matrix.shape

(4803, 50)

In [328]:
def cf(matrix):
    normalized = faiss.normalize_L2(matrix)
    dim = matrix.shape[1]
    index = faiss.IndexFlatIP(dim)
    index.add(matrix)
    return index
index = cf(tfidf_vec_matrix)

In [329]:
def rec(name : str):
    i = int(movies.loc[movies.original_title == name].index[0])
    query_vector = index.reconstruct(i).reshape(1,-1)
    D, indices = index.search(query_vector, 15)
    for i in indices:
        print(movies.iloc[i].original_title)

In [323]:
rec("Spectre")

2                                         Spectre
3494    Beastmaster 2: Through the Portal of Time
2912                                    Star Wars
2546                                   The Skulls
153          Mission: Impossible - Ghost Protocol
2812                             The Golden Child
544                         Flight of the Phoenix
454                 The Day the Earth Stood Still
368                Percy Jackson: Sea of Monsters
2317          Star Trek III: The Search for Spock
1586                             A View to a Kill
126                          Thor: The Dark World
2868                                     Fortress
1850                                     Scarface
4327                              The Dead Undead
Name: original_title, dtype: object

In [341]:
rec("Big Hero 6")

88                                 Big Hero 6
266                                  I, Robot
257                                Real Steel
1008                                  Chappie
375                          Bicentennial Man
3065                               Heartbeeps
4022                            Robot & Frank
607     Sky Captain and the World of Tomorrow
674                                 Astro Boy
441                                    Robots
2127               Bill & Ted's Bogus Journey
2654                                 Autómata
57                                     WALL·E
111                              Transformers
692                            Chicken Little
Name: original_title, dtype: object

In [218]:
itm[1009]

9481

In [224]:
movies.loc[movies.original_title == 'The Bone Collector'].index[0]

1009

In [340]:
movies[movies['original_title'].str.contains('Big Her')].original_title.values

array(['Big Hero 6'], dtype=object)

In [223]:
index

Index([1009], dtype='int64')

# Getting MOst Popular movies

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv('dataset/version2/2/tmdb_5000_movies.csv')
movies.head()

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
1,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,2007-05-19,6.9,4500
2,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bond’s past sends him o...,107.376788,2015-10-26,6.3,4466
3,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,2012-07-16,7.6,9106
4,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",43.926995,2012-03-07,6.1,2124

In [4]:
movies.sort_values(['vote_count'],ascending=False)

,id,keywords,original_title,overview,popularity,release_date,vote_average,vote_count
96,27205,"[{""id"": 1014, ""name"": ""loss of lover""}, {""id"":...",Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,2010-07-14,8.1,13752
65,155,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,2008-07-16,8.2,12002
0,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,2009-12-10,7.2,11800
16,24428,"[{""id"": 242, ""name"": ""new york""}, {""id"": 5539,...",The Avengers,When an unexpected enemy emerges and threatens...,144.448633,2012-04-25,7.4,11776
788,293660,"[{""id"": 2095, ""name"": ""anti hero""}, {""id"": 307...",Deadpool,Deadpool tells the origin story of former Spec...,514.569956,2016-02-09,7.4,10995
...,...,...,...,...,...,...,...,...
4210,74084,[],दिल जो भी कहे,"During the British rule in India, several Indi...",0.122704,2006-12-07,0.0,0
4716,38786,[],The Blood of My Brother: A Story of Death in Iraq,THE BLOOD OF MY BROTHER goes behind the scenes...,0.005256,2005-11-25,0.0,0
4569,198370,[],Mutual Friends,Surprise parties rarely go well. This one is n...,0.136721,2014-04-15,0.0,0
4714,282128,[],An American in Hollywood,A talented young filmmaker from New York sets ...,0.015697,2014-07-18,0.0,0
4486,302579,"[{""id"": 10322, ""name"": ""native american""}, {""i...",Naturally Native,"Naturally Native follows the lives, loves, pai...",0.578798,1999-10-08,0.0,0

In [5]:
# Calculate C (mean of all average ratings)
C = movies['vote_average'].mean()

# Set m (minimum number of votes required to qualify)
m = movies['vote_count'].quantile(0.70)  # Top 30% vote count as threshold

# Function to calculate Weighted Rating (WR)
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v / (v + m) * R) + (m / (v + m) * C)

# Apply the function to calculate WR for each movie
movies['weighted_rating'] = movies.apply(weighted_rating, axis=1)

# Sort movies by weighted rating

In [19]:
top_movies = movies.sort_values(by='weighted_rating', ascending=False)[['original_title','weighted_rating']][:100]

In [26]:
top_movies['weighted_rating'] = top_movies['weighted_rating'].round(2).astype('float16')
top_movies

array([['The Shawshank Redemption', 8.34375],
       ['The Godfather', 8.1875],
       ['Fight Club', 8.171875],
       ['Pulp Fiction', 8.15625],
       ['The Dark Knight', 8.1015625],
       ['Forrest Gump', 8.0625],
       ["Schindler's List", 8.0390625],
       ['Whiplash', 8.03125],
       ['Inception', 8.0234375],
       ['The Empire Strikes Back', 8.0078125],
       ['千と千尋の神隠し', 8.0078125],
       ['Interstellar', 8.0],
       ['The Godfather: Part II', 7.96875],
       ['The Lord of the Rings: The Return of the King', 7.96875],
       ['Star Wars', 7.94140625],
       ['The Green Mile', 7.94140625],
       ['Se7en', 7.921875],
       ['The Lord of the Rings: The Fellowship of the Ring', 7.87890625],
       ['GoodFellas', 7.87109375],
       ['The Silence of the Lambs', 7.87109375],
       ['The Lord of the Rings: The Two Towers', 7.859375],
       ['American History X', 7.859375],
       ["One Flew Over the Cuckoo's Nest", 7.8515625],
       ['Memento', 7.8515625],
       ['Inside Out', 7.83984375],
       ['Back to the Future', 7.828125],
       ['The Shining', 7.828125],
       ['The Imitation Game', 7.8203125],
       ['The Lion King', 7.80859375],
       ['Guardians of the Galaxy', 7.80078125],
       ['The Usual Suspects', 7.80078125],
       ['The Matrix', 7.7890625],
       ['The Grand Budapest Hotel', 7.78125],
       ['Psycho', 7.78125],
       ['The Prestige', 7.78125],
       ['The Wolf of Wall Street', 7.75],
       ['Room', 7.75],
       ['Inglourious Basterds', 7.75],
       ['Dead Poets Society', 7.73828125],
       ['Reservoir Dogs', 7.73828125],
       ['12 Angry Men', 7.73828125],
       ['Gone Girl', 7.73828125],
       ['Gladiator', 7.73046875],
       ['ハウルの動く城', 7.71875],
       ['もののけ姫', 7.71875],
       ['Saving Private Ryan', 7.7109375],
       ['Django Unchained', 7.7109375],
       ['Return of the Jedi', 7.69921875],
       ['Il buono, il brutto, il cattivo', 7.69921875],
       ['Alien', 7.69140625],
       ['The Departed', 7.69140625],
       ['Scarface', 7.69140625],
       ['Her', 7.6796875],
       ['Shutter Island', 7.66015625],
       ['WALL·E', 7.66015625],
       ['12 Years a Slave', 7.6484375],
       ['Big Hero 6', 7.6484375],
       ['Eternal Sunshine of the Spotless Mind', 7.6484375],
       ['Taxi Driver', 7.640625],
       ['Blade Runner', 7.640625],
       ['American Beauty', 7.62890625],
       ['Prisoners', 7.609375],
       ['Cidade de Deus', 7.609375],
       ['2001: A Space Odyssey', 7.609375],
       ['The Truman Show', 7.609375],
       ['Dallas Buyers Club', 7.6015625],
       ['Good Will Hunting', 7.58984375],
       ['Apocalypse Now', 7.578125],
       ['Up', 7.5703125],
       ['올드보이', 7.55859375],
       ['Harry Potter and the Prisoner of Azkaban', 7.55859375],
       ['Requiem for a Dream', 7.55078125],
       ['The Pianist', 7.55078125],
       ['The Theory of Everything', 7.55078125],
       ["Le fabuleux destin d'Amélie Poulain", 7.5390625],
       ['Toy Story', 7.5390625],
       ['Kill Bill: Vol. 1', 7.53125],
       ['Gran Torino', 7.53125],
       ['Into the Wild', 7.53125],
       ['The Big Lebowski', 7.51953125],
       ['V for Vendetta', 7.51171875],
       ['The Dark Knight Rises', 7.51171875],
       ['Terminator 2: Judgment Day', 7.5],
       ['Spotlight', 7.5],
       ['Trainspotting', 7.48828125],
       ['Raiders of the Lost Ark', 7.48828125],
       ['The Martian', 7.48828125],
       ['Catch Me If You Can', 7.48828125],
       ['Finding Nemo', 7.46875],
       ['Donnie Darko', 7.46875],
       ['Captain America: The Winter Soldier', 7.4609375],
       ['Braveheart', 7.4609375],
       ['Once Upon a Time in America', 7.4609375],
       ['Aliens', 7.44921875],
       ['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
        7.44921875],
       ['The Sixth Sense', 7.44921875],
       ['The Notebook', 7.44140625],
       ['A Beautiful Mind', 7.44140625],
       ['No Country for Old Men', 7.44140625],
       ['Edge of Tomorrow', 7.44140625]], dtype=object)

In [48]:
top_movies.rename(columns={'original_title':'moviename','weighted_rating':'rating'})

                     moviename    rating
1881  The Shawshank Redemption  8.343750
3337             The Godfather  8.187500
662                 Fight Club  8.171875
3232              Pulp Fiction  8.156250
65             The Dark Knight  8.101562
...                        ...       ...
1145           The Sixth Sense  7.449219
1559              The Notebook  7.441406
493           A Beautiful Mind  7.441406
1829    No Country for Old Men  7.441406
74            Edge of Tomorrow  7.441406

[100 rows x 2 columns]

In [27]:
import joblib

In [50]:
joblib.dump(top_movies.values,'topmovies')

['topmovies']

array([['The Shawshank Redemption', 8.34375],
       ['The Godfather', 8.1875],
       ['Fight Club', 8.171875],
       ['Pulp Fiction', 8.15625],
       ['The Dark Knight', 8.1015625],
       ['Forrest Gump', 8.0625],
       ["Schindler's List", 8.0390625],
       ['Whiplash', 8.03125],
       ['Inception', 8.0234375],
       ['The Empire Strikes Back', 8.0078125],
       ['千と千尋の神隠し', 8.0078125],
       ['Interstellar', 8.0],
       ['The Godfather: Part II', 7.96875],
       ['The Lord of the Rings: The Return of the King', 7.96875],
       ['Star Wars', 7.94140625],
       ['The Green Mile', 7.94140625],
       ['Se7en', 7.921875],
       ['The Lord of the Rings: The Fellowship of the Ring', 7.87890625],
       ['GoodFellas', 7.87109375],
       ['The Silence of the Lambs', 7.87109375],
       ['The Lord of the Rings: The Two Towers', 7.859375],
       ['American History X', 7.859375],
       ["One Flew Over the Cuckoo's Nest", 7.8515625],
       ['Memento', 7.8515625],
       ['Inside Out', 7.83984375],
       ['Back to the Future', 7.828125],
       ['The Shining', 7.828125],
       ['The Imitation Game', 7.8203125],
       ['The Lion King', 7.80859375],
       ['Guardians of the Galaxy', 7.80078125],
       ['The Usual Suspects', 7.80078125],
       ['The Matrix', 7.7890625],
       ['The Grand Budapest Hotel', 7.78125],
       ['Psycho', 7.78125],
       ['The Prestige', 7.78125],
       ['The Wolf of Wall Street', 7.75],
       ['Room', 7.75],
       ['Inglourious Basterds', 7.75],
       ['Dead Poets Society', 7.73828125],
       ['Reservoir Dogs', 7.73828125],
       ['12 Angry Men', 7.73828125],
       ['Gone Girl', 7.73828125],
       ['Gladiator', 7.73046875],
       ['ハウルの動く城', 7.71875],
       ['もののけ姫', 7.71875],
       ['Saving Private Ryan', 7.7109375],
       ['Django Unchained', 7.7109375],
       ['Return of the Jedi', 7.69921875],
       ['Il buono, il brutto, il cattivo', 7.69921875],
       ['Alien', 7.69140625],
       ['The Departed', 7.69140625],
       ['Scarface', 7.69140625],
       ['Her', 7.6796875],
       ['Shutter Island', 7.66015625],
       ['WALL·E', 7.66015625],
       ['12 Years a Slave', 7.6484375],
       ['Big Hero 6', 7.6484375],
       ['Eternal Sunshine of the Spotless Mind', 7.6484375],
       ['Taxi Driver', 7.640625],
       ['Blade Runner', 7.640625],
       ['American Beauty', 7.62890625],
       ['Prisoners', 7.609375],
       ['Cidade de Deus', 7.609375],
       ['2001: A Space Odyssey', 7.609375],
       ['The Truman Show', 7.609375],
       ['Dallas Buyers Club', 7.6015625],
       ['Good Will Hunting', 7.58984375],
       ['Apocalypse Now', 7.578125],
       ['Up', 7.5703125],
       ['올드보이', 7.55859375],
       ['Harry Potter and the Prisoner of Azkaban', 7.55859375],
       ['Requiem for a Dream', 7.55078125],
       ['The Pianist', 7.55078125],
       ['The Theory of Everything', 7.55078125],
       ["Le fabuleux destin d'Amélie Poulain", 7.5390625],
       ['Toy Story', 7.5390625],
       ['Kill Bill: Vol. 1', 7.53125],
       ['Gran Torino', 7.53125],
       ['Into the Wild', 7.53125],
       ['The Big Lebowski', 7.51953125],
       ['V for Vendetta', 7.51171875],
       ['The Dark Knight Rises', 7.51171875],
       ['Terminator 2: Judgment Day', 7.5],
       ['Spotlight', 7.5],
       ['Trainspotting', 7.48828125],
       ['Raiders of the Lost Ark', 7.48828125],
       ['The Martian', 7.48828125],
       ['Catch Me If You Can', 7.48828125],
       ['Finding Nemo', 7.46875],
       ['Donnie Darko', 7.46875],
       ['Captain America: The Winter Soldier', 7.4609375],
       ['Braveheart', 7.4609375],
       ['Once Upon a Time in America', 7.4609375],
       ['Aliens', 7.44921875],
       ['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
        7.44921875],
       ['The Sixth Sense', 7.44921875],
       ['The Notebook', 7.44140625],
       ['A Beautiful Mind', 7.44140625],
       ['No Country for Old Men', 7.44140625],
       ['Edge of Tomorrow', 7.44140625]], dtype=object)

In [49]:
import sqlite3

# Create a SQLite database connection (it will create the DB if it doesn't exist)
path = r'/home/vk/Vedant/recommender-system/RecommenderSystem/movies.db'
conn = sqlite3.connect(path)
cursor = conn.cursor()

# Create a table for storing movie data (if it doesn't exist)


# Insert data from top_movies DataFrame into the table
top_movies.to_sql('movie', conn, if_exists='replace', index=False)
# table_name = "movie"  # Replace 'movies' with the name of the table you want to drop
# cursor.execute(f"DROP TABLE IF EXISTS {table_name}")


# Commit the transaction and close the connection
conn.commit()
conn.close()

print("Data has been successfully populated into the SQLite database.")

Data has been successfully populated into the SQLite database.

In [34]:
li = [len(i) for i in top_movies.original_title.values]

In [36]:
max(li)

68

In [ ]:
import sqlite3

# Path to the SQLite database
path = r'/home/vk/Vedant/recommender-system/RecommenderSystem/movies.db'

# Create a SQLite database connection
conn = sqlite3.connect(path)
cursor = conn.cursor()

# SQL command to drop a table
table_name = "movies"  # Replace 'movies' with the name of the table you want to drop
cursor.execute(f"DROP TABLE IF EXISTS {table_name}")

# Commit the transaction and close the connection
conn.commit()
conn.close()

print(f"Table '{table_name}' has been successfully dropped.")